:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }
.body-container{
    height: 100%;
    width: 100%;
}
.img-footer{
    width:100%;
    height: 35vh;
    margin-top: 20px;
    margin-bottom: 0;
    
}
.imgPlaca{
    margin-top: 5px;
    height: 360px;
}
.camiseta{
    height: 150px;
}
.farmarcia{
    height: 300px;
    border-radius: 20px;
}
.body-farmarcia{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-body-label{
    color: var(--cor-2);
    width: 60%;

}
.div-div-body-label{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.body-produtos{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.div-body-label-venda{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.body-label-venda{
    color: var(--cor-5);
    font-size: 50px;
}
.body-sobreNos{
    
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-label-sobreNos{
    color: var(--cor-5);
    font-size: 50px;
}
.labelNHistoria{
    color: var(--cor-5);
    font-size: 50px;
    
}
.div-body-historia{

    color: var(--cor-2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 20px;
}
.div-body-NHistoria{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

}
.div-div-body-NHistoria{
    width: 60%;
}