:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }
@font-face {
    font-family: 'Bonello';
    src: url(/public/fonts/Bonello-Regular.otf);
}
.header-container{
    background-color: var(--cor-1);
    display: flex;
    height: 100%;
}
.header-icon{
    width: 30%;
    height: 10%;
    display: flex;
    align-items:top ;
    justify-content: top;
    padding-left: 10px;

}
.header-label{
    width: 70%;
    display: flex;
    justify-content:center;
    padding-right: 310px;
}
.header-farm-label{
    font-family: 'Bonello' ;
    font-size: 80px;
    color:var(--cor-2) ;
}
.header-logo{
    height: 120px;
    border-radius: 10px;
    margin: 5px;
}