
.div-530-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    
}
.div-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    /* color: {cor}; */

}
