
.div-530-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    background-color: red;
    
}
.div-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    /* color: {cor}; */

}
.test{
    background-color: green;
}
.testRed{
    background-color: red;
}
